{% extends "base.html.twig" %}



{% block body %}

    {# <section class="section has_background_white_ter"> #}

        <table border="1">
            <tr>
                <td><b>ID Catégorie </b></td>
                <td><b>Titre </b></td>
                <td><b>Mots cLés </b></td>
                <td colspan="3"><b>Actions </b></td>
            </tr>
            {% for categorie in liste %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.titre }}</td>
                <td>{{ categorie.motscles }}</td>
                <td><a href="#"><i class="fas fa-search"></i></a></td>
                <td><a href="#"><i class='fa fa-pen'></i></a></td>
                <td><a href="#"><i class='fa fa-trash'></i></a></td>
             </tr>
             {% endfor %}
        </table>
    
     {#</section> #}




{% endblock %}